@use './scss/' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: var(--app-background);
    color: var(--text-primary);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

img {
    object-fit: cover;
}
